<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.annwz.base.mapper.BaCodeMapper">
  <resultMap id="BaseResultMap" type="top.annwz.base.entity.BaCode">
    <id column="code_id" jdbcType="INTEGER" property="codeId" />
    <result column="code_type" jdbcType="VARCHAR" property="codeType" />
    <result column="code_value" jdbcType="VARCHAR" property="codeValue" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="code_status" jdbcType="INTEGER" property="codeStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    code_id, code_type, code_value, email, create_time, finish_time, code_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ba_code
    where code_id = #{codeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ba_code
    where code_id = #{codeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="top.annwz.base.entity.BaCode">
    insert into ba_code (code_id, code_type, code_value, 
      email, create_time, finish_time, 
      code_status)
    values (#{codeId,jdbcType=INTEGER}, #{codeType,jdbcType=VARCHAR}, #{codeValue,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, sysdate(), #{finishTime,jdbcType=TIMESTAMP},
      #{codeStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.annwz.base.entity.BaCode">
    insert into ba_code
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        code_id,
      </if>
      <if test="codeType != null">
        code_type,
      </if>
      <if test="codeValue != null">
        code_value,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="codeStatus != null">
        code_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codeId != null">
        #{codeId,jdbcType=INTEGER},
      </if>
      <if test="codeType != null">
        #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="codeStatus != null">
        #{codeStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="top.annwz.base.entity.BaCode">
    update ba_code
    <set>
      <if test="codeType != null">
        code_type = #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null">
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="finishTime != null">
        finish_time = sysdate(),
      </if>
      <if test="codeStatus != null">
        code_status = #{codeStatus,jdbcType=INTEGER},
      </if>
    </set>
    where code_id = #{codeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.annwz.base.entity.BaCode">
    update ba_code
    set code_type = #{codeType,jdbcType=VARCHAR},
      code_value = #{codeValue,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      finish_time = sysdate(),
      code_status = #{codeStatus,jdbcType=INTEGER}
    where code_id = #{codeId,jdbcType=INTEGER}
  </update>
  <select id="getsByMap" parameterType="java.util.HashMap" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from ba_user
    where 1=1
    <foreach collection="map.keys" item="_itemKey" open=""  separator="">
      <if test="null != map[_itemKey]">
        and ${_itemKey} = #{map[${_itemKey}]}
      </if>
    </foreach>
  </select>
  <select id="getCountByMap" parameterType="java.util.HashMap" resultType="java.lang.Integer" >
    select count(1)
    from ba_user
    where 1=1
    <foreach collection="map.keys" item="_itemKey" open=""  separator="">
      <if test="null != map[_itemKey]">
        and ${_itemKey} = #{map[${_itemKey}]}
      </if>
    </foreach>
  </select>
  <select id="getByCodeValue" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ba_code
    where code_value = #{CodeValue}
  </select>
</mapper>